// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.item-avatar
{
    @extend .rounded-circle;
    @extend .text-center;
    height:2.5em;
    line-height:2.5em;
    width:2.5em;
}
